.text-layer {
  position: relative;
  z-index: 2;
}

body,
body * {
  cursor: none;
}

.shapes {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.shape.shape-1 {
  background: #005ffe;
  width: 40px; /* Adjusted size */
  height: 40px; /* Adjusted size */
  margin: -20px 0 0 -20px; /* Half of width/height to center it */
}

.shape.shape-2 {
  background: #ffe5e3;
  width: 32px; /* Adjusted size */
  height: 32px; /* Adjusted size */
  margin: -16px 0 0 -16px; /* Half of width/height to center it */
}

.shape.shape-3 {
  background: #ffcc57;
  width: 24px; /* Adjusted size */
  height: 24px; /* Adjusted size */
  margin: -12px 0 0 -12px; /* Half of width/height to center it */
}

.cursor {
  position: fixed;
  background: #ffffff;
  width: 15px;
  height: 15px;
  margin: -7.5px 0 0 -7.5px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
}

::selection {
  color: #fff;
  background: #2128bd;
}
