body,
body * {
  cursor: none;
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.text-layer {
  position: relative;
  z-index: 2;
  color: transparent;
  mix-blend-mode: difference;
}

.text-layer h1,
.text-layer h2,
.text-layer h3 {
  mix-blend-mode: difference;
}

.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.shape.shape-1 {
  background: #005ffe;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.shape.shape-2 {
  background: #ffe5e3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.shape.shape-3 {
  background: #ffcc57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.cursor {
  position: fixed;
  background: #2128bd;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::selection {
  color: #fff;
  background: #2128bd;
}
