@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400; /* Regular/Book */
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-SemiBold.otf") format("opentype");
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Thin.otf") format("opentype");
  font-weight: 100; /* Thin */
  font-style: normal;
  font-display: block;
}

body {
  @apply bg-blue-black;
}

.gradient-spot {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: transparent;
  transition: background 0.3s;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

.wave-effect {
  max-width: 600px;
  height: auto;
  font-weight: bold;
}
